SPRING_PROFILES_ACTIVE=local

DB_PASSWORD=
POSTGRES_HOST=localhost

EUREKA_HOST=localhost
ZIPKIN_HOST=localhost

GITHUB_USERNAME=
GITHUB_TOKEN=

KAKAO_MOBILITY_REST_API_KEY=your_kakao_mobility_rest_api_key